.subject-container {
  background-color: #f4f4f4;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  overflow: auto;
  align-items: center;
}

.form__container {
  width: 80%;
  min-height: 85%;
}

.ant-upload ant-upload-select {
  width: 150px !important;
  height: 200px !important;
}

.upload-space {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.ant-form-item-label {
  display: flex !important;
  justify-content: center !important;
}

:where(
    .css-dev-only-do-not-override-1ck3jst
  ).ant-upload-wrapper.ant-upload-picture-card-wrapper
  .ant-upload.ant-upload-select,
:where(
    .css-dev-only-do-not-override-1ck3jst
  ).ant-upload-wrapper.ant-upload-picture-circle-wrapper
  .ant-upload.ant-upload-select {
  width: 150px;
  height: 200px;
}
